{% extends 'panel/base.html' %}


{% block content %}
<form method="post" action="">
    {% for field in form %}
        {% if field.label.text != 'CSRF Token' %}
            {{ field.label }}
        {% endif %}
        {{ field }}
    {% endfor %}
    <button type="submit">Save</button>
    {% if _id != 'new' %}
    <button type="button" onclick="del();">Delete</button>
    {% endif %}
</form>

<script type="text/javascript">
    function del() {
        $.ajax({
            url: '/panel/f/{{ model_name }}/{{ _id }}',
            type: 'DELETE',
            success: function(data) {
                window.location='/panel/t/{{ model_name }}/';
            },
        });
        console.log(id);
    }
</script>
{% endblock %}
