{% extends 'panel/base.html' %}


{% block content %}
<div class="ui clearing segment">
    <div class="ui grid">
        <div class="ui eight wide column">
            <h1>
                <span class="ui grey small header">{{ page_name }}</span>
            </h1>
        </div>
        <div class="ui eight wide column">
            <a class="ui {{ 'left' if direction=='rtl' else 'right' }} floated icon button" href="/panel/t/{{ model_name }}/">
                <i class="ui left arrow icon"></i>
            </a>
        </div>
    </div>
    <form class="ui form" method="post" action="">
        {% for field in form %}
            <div class="field">
                {% if field.label.text != 'CSRF Token' %}
                    {{ field.label }}
                {% endif %}
                {{ field }}
            </div>
        {% endfor %}
        <button class="ui {{ 'left' if direction=='rtl' else 'right' }} floated teal button" type="submit">{{ 'Save' | translate }}</button>
        {% if form.deletable and _id!='new' %}
            <button class="ui {{ 'left' if direction=='rtl' else 'right' }} floated orange button" type="button" onclick="del();">{{ 'Delete' | translate }}</button>
        {% endif %}
    </form>
</div>

<script type="text/javascript">
    function del() {
        $.ajax({
            url: '/panel/f/{{ model_name }}/{{ _id }}',
            type: 'DELETE',
            success: function(data) {
                if(data.success) {
                    window.location='/panel/t/{{ model_name }}/';
                }
            },
        });
    }
</script>
{% endblock %}
