{% extends 'panel/base.html' %}


{% block content %}
<div class="ui segment">
    <div class="ui grid">
        <div class="ui eight wide column">
            <h1>
                <span class="ui grey small header">{{ page_name }}</span>
            </h1>
        </div>
        {% if table.creatable %}
        <div class="ui eight wide column">
            <a class="ui {{ 'left' if direction=='rtl' else 'right' }} floated teal icon button" href="/panel/f/{{ model_name }}/new/">
                <i class="ui plus icon"></i>
            </a>
        </div>
        {% endif %}
    </div>
    {{ table }}
    <!--  -->
    {% if pages %}
    <center>
        <div class="ui secondary pagination menu">
            {% for i in pages %}
                {% if i=='…' %}
                <a class="disabled item">…</a>
                {% else %}
                <a class="{{'active' if page_number==i else ''}} item"
                    href="/panel/t/{{ model_name }}/{{ i }}/"
                >
                    {{ i | translate }}
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </center>
    {% endif %}
</div>
{% endblock %}
    